<h3>Vacate Booking</h3>
<div [hidden]="submitted" style="width: 400px;">
        <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Vehicle Registration Number</label>
                    <input type="text" class="form-control" id="vehicleNumber" required [(ngModel)]="bookingEvict.vehicleNumber"
                        name="vehicleNumber">
                </div>

        
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>


<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>